<!doctype html>
<html>
  <title>Bill Tracker</title>
  <%# <link rel="stylesheet" href="/stylesheets/cms.css"> %>

  <body>
    <h1>Bill Tracker App</h1>
    <% if session[:message] %>
      <p><%= session.delete(:message) %></p>
    <% end %>

    <h2>Your default monthly budget is: <%= @budget %></h2>

    <a href="/users/change_default_budget">Change Budget</a>
    <a href="/bills/add">Add a Bill</a>

    <%= yield %>

    <%# <% if session[:username] %1> %>
    <%#   <hr> %>
    <%#   <form method="post" action="/logout"> %>
    <%#     <label>Current User: <%= session[:username] %1></label> %>
    <%#     <button type="submit">Log Out</button> %>
    <%#   </form> %>
    <%# <% end %1> %>
  <%# </body> %>
<%# </html> %>
