<!doctype html>
<html>
  <title>Bill Tracker</title>
  <%# <link rel="stylesheet" href="/stylesheets/cms.css"> %>

  <body>
    <h1>Bill Tracker App</h1>
    <% if session[:message] %>
      <p><%= session.delete(:message) %></p>
    <% end %>

    <%= yield %>
    <% if session[:username] %>
      <hr>
      <form method="post" action="/logout">
        <label>Current User: <%= session[:username] %></label>
        <button type="submit">Log Out</button>
      </form>
    <% end %>
  </body>
</html>
